[submodule "layers/CRM"]
	path = layers/CRM
	url = https://gitlab.simorghsoftech.com/web-projects/private-cabin-projects/new-cabin-admin/modules/crm-module.git
[submodule "layers/test"]
	path = layers/test
	url = git@github.com:shsaleh/test.git
